*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.full{
	width: 100%;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
#magazine{
	height: 30px;
	background-color: #272424;
}
#logo{
	height: 80px;
	background-color: #bb7e0e;
}
#menu{
	height: 50px;
	background-color:#ae1e1e; 
}
#truycapnhanh li{
	float: left;
	padding: 5px;
	text-transform: uppercase;
	font-size: 13px;
}
#truycapnhanh .fa-star{
	color: orange;
	margin-right: 3px;
}
#search{
	position:relative;
	cursor: pointer;
}
#search .fa-search{
	position: absolute;
	top: 6px;
	left: 149px;
}
#search input{
	margin-top: 5px;
}
#logo img{
	width: 70px;
	height: 70px;
}
#logo ul{
	width: 50%;
	padding:15px 0;
	margin: 0 auto;
}
#logo ul li{
	padding: 5px;
	float: left;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 10px;
	margin-left: 5px;
}
#logo a, #menu a, #truycapnhanh a{
	color: white !important;
}
#menu li{
	float: left;
	padding: 15px;
}
#menu li:hover{
	background-color: red;
}
#grey{
	background-color: #ccc;
	height: 30px;
}
#tintuc{
	margin-top: 10px;
	width: 70%;
}
#ads{
	margin-top: 10px;
	width: 30%;
}
#tinnong .left img{
	width: 95%;
	height: 350px;
}
#tinnong .right img{
	width: 95%;
	height: 350px;
}
#tinnong .left{
	width: 70%;
}
#tinnong .right{
	width: 30%;
}
#tinlienquan{
	margin-top: 50px;
	height: 200px;
}
#tinlienquan img{
	width: 100%;
	height: 200px;
}
.p3{
	width: 30%;
	float: left;
	margin: 12px;
}